.heading{
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: black;
   
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 38px;
    padding: 8px;
    font-size: 17px;
    background-color: lightgreen;
    
}
.feedback-video{
    width: 40%;
    height: 70vh;
    /* border: 2px solid black; */
    display: inline-block;
    padding: 2px 0px 2px 1px;
    
    
    
   

}
#myVideo{
   
    /* width: 100%;
    height: 170%;
    position: relative;
    
    bottom:19vh; */
    position: absolute;
     width: 40%;
    height: 60vh;
   
    
}

.feedback-form{
    width: 50%;
    height: 58vh;
    border: 2px solid red;
    display: inline-block;
    position:relative;
    left: 4vw;
    bottom: 14vh;
}
.feedback-form{
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 15px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 50vw;
    position: relative;
    
}
button{
    background-color: #4daea4;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 7vh;
    
}
button:hover{
    background-color: #4caf84;
}
input[type="email"],input[type="text"],button,textarea{
    width: 90%;
    padding: 3px;
    border-radius: 4px;
    margin: 12px;
}
