 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
header{
          background: url('images1stpage\earthspace.jpeg') no-repeat center center fixed;

          background-size: cover;
          width: 100%;
          height: 130vh;
      }

      * {
          padding: 0;
          margin: 0;
      }

      .topbar {
          display: inline;
          background-color: aqua;
      }

      .navbar {
          color: white;
          /* list-style-type: none; */
          position: fixed;
          left: 33.5%;
          padding-top: 10px;
          z-index: 1;
      }
      .navlist {
          list-style-type: none;
          display: flex;
      }
      .navlist li {
          padding: 0px 13px;
          font-family: monospace;
          font-size: 19px;
      }
      .navlist li:hover {
          transition: underline 1s;
          cursor: pointer;
          text-decoration: underline;
      }
      .container {
          color: whitesmoke;
          position: relative;
          top: 25vh;
      }
      .name {
          position: absolute;
          left: 30%;
          /* display: block; */
          font-family: 'Libre Franklin', sans-serif;
          font-size: 80px;
      }
      .tagline {
          position: absolute;
          top: 15vh;
          font-family: monospace;
          left: 67vh;
          font-size: 18px;
      }
      #beyondEarth {
          animation: slideright 2s ease-out;
      }
      #taglineANi {
          animation: slideleft 2s ease-out;
      }
      @keyframes slideright {
          0% {
              -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
              visibility: visible;

          }

          100% {
              -webkit-transform: translateX(0);
              transform: translateX(0);

          }
      }

      @keyframes slideleft {
          0% {
              -webkit-transform: translateX(100%);
              transform: translateX(100%);
              visibility: visible;

          }

          100% {
              -webkit-transform: translateX(0);
              transform: translateX(0);

          }
      }
      #myVideo {
       
     position: absolute;
     width: 49%;
    height: 60vh;
      }
    .video-content{
      padding: 10px 19px;
      background-image: url(images1stpage\classroom.jpg);
      background-size: cover;
      height: 80vh;
      background-repeat: no-repeat;
      
      
      
    }
    .video{
        display: inline-block;
        width: 53%;
        height: 60vh;
        padding: 4px 0px 4px 18px;
        background-image: url(images1stpage\b2.jpg);
       
        border-radius: 10px;
    }
    .video-animation{
        display: inline-block;
        width: 40%;
        height: 60vh;
       
       
       
        
    }
    
    .content1{
        color: white;
         position: absolute;
          
          top: 250vh;
         
        
         font-size:xx-large;
          text-align: center;
        font-weight: 900;
        font-family: Arial;
        width: 90vw;
        height: 70vh;
        padding: 40px;
       
        z-index: 2;
       
        
         
    }
    #myVideo2 {
        position: relative;
        width: 100%;
       bottom: 90vh;
        height: 300vh;
        z-index: 0;
        right: 0;
        left: 0;
        padding: 10px;
        
       
      }
    footer{
        background-color: black; color: blanchedalmond;
        display: inline-block;
        width: 100%;
        z-index: 1;
        position: relative;
        
    }
    p.rtl {
        direction: rtl;
    }
    li a{
        text-decoration: none;
        color: white;
    }
   body{
       background-color: black;
   }
    